@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.puzzle__header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
}

.puzzle__header-text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #F9F9F9;
    margin-bottom: 1.5rem;
    flex: 1;
}