.main__app {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section__padding {
  padding: 2rem 4rem;
}

.section__margin {
  margin-top: 2rem;
}

@media screen and (max-width: 490px) {
  .section__padding {
    padding: 1rem 2rem;
  }

  .section__margin {
    margin-top: 1rem;
  }
}